<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
      <section name="OAuthConfigSection" type="limpiaTL.OAuthConfigSection, limpiaTL" />
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http.Primitives" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.2.28.0" newVersion="4.2.28.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <appSettings>
    <add key="debugDir" value="" /> <!--add the path to test directory to debug the app-->  
    <add key="workingDir" value="" /> <!--add the path to the working directory of the app-->  
    <add key="bookmarksFile" value="bookmarks.txt" /> <!--file to save app's config data-->  
    <add key="roofID" value="999462777060139009" /> <!--tweet ID upper limit-->  
    <add key="sinceID" value="1" /> <!--tweet ID lower limit -->  
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <OAuthConfigSection>
    <OAuthConfigNames>
      <add name="user1" consumerKey="" consumerSecret="" accessToken="" accessTokenSecret="" /> <!--your app and user keys-->
      <add name="user2" consumerKey="" consumerSecret="" accessToken="" accessTokenSecret="" /> <!--your app and user keys-->
    </OAuthConfigNames>
  </OAuthConfigSection>
</configuration>